.error{
    border:2px solid #ff0000;
}
body{
    font-family: Helvetica,Ariel,Sans-serif;
    font-size: 18px;
    color: #ffffff;

    background: radial-gradient(circle, #ff0000 0%, #ff4500 100%);
    margin: 1%;
    padding: 5%;

    text-shadow: 2px 2px 6px #000000;
}
fieldset{
    border: none;
}
form.survey{
    text-align: center;
}
button{
    padding: 10px 20px 0px 20px;
    font-size: 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}